In [15]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib as mat
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings('ignore')

In [16]:
pd.set_option('display.max_rows', 500)

In [17]:
path = os.getcwd()
train = pd.read_csv(f'{path}/data/train.csv')
test = pd.read_csv(f'{path}/data/test.csv')

In [26]:
train.head()

,ID,제조사,모델,차량상태,배터리용량,구동방식,주행거리(km),보증기간(년),사고이력,연식(년),가격(백만원)
0,TRAIN_0000,P사,TayGTS,Nearly New,86.077,AWD,13642,0,No,2,159.66
1,TRAIN_0001,K사,Niro,Nearly New,56.000,FWD,10199,6,No,0,28.01
2,TRAIN_0002,A사,eT,Brand New,91.200,AWD,2361,7,No,0,66.27
3,TRAIN_0003,A사,RSeTGT,Nearly New,NaN,AWD,21683,3,No,0,99.16
4,TRAIN_0004,B사,i5,Pre-Owned,61.018,AWD,178205,1,No,0,62.02

In [ ]:
test.head()

In [ ]:
train.info()

In [ ]:
train.describe()

In [ ]:
train.isna().sum()

In [ ]:
numeric_cols = train.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = train.select_dtypes(include=['object', 'category']).columns

print(f"Numeric columns: {numeric_cols}")
print(f"Categorical columns: {categorical_cols}")

In [ ]:
for column in categorical_cols:
    display(train[[f'{column}']].value_counts())

In [ ]:
train[(train['제조사'] == 'P사') & (train['모델'] == 'TayCT')]# ['배터리용량'].value_counts()

In [27]:
train['배터리용량'] = train['배터리용량'].fillna(train.groupby(['제조사', '모델', '차량상태'])['배터리용량'].transform('mean'))

In [28]:
train['배터리용량'].isna().sum()

0

In [ ]:
train_numeric = train[numeric_cols]
sns.heatmap(train_numeric.corr(), annot=True)

In [ ]:
print('가격 최대값: ',train['가격(백만원)'].max())
print('가격 최소값: ',train['가격(백만원)'].min())
plt.figure(figsize=(10, 6))
sns.histplot(data=train, x='가격(백만원)', kde=True, bins=25)


plt.xlabel('가격')
plt.title('가격 분포')
plt.show()

In [ ]:
print('배터리용량 최대값: ',train['배터리용량'].max())
print('배터리용량 최소값: ',train['배터리용량'].min())
plt.figure(figsize=(10, 6))
sns.histplot(data=train, x='배터리용량', kde=True, bins=25)

plt.xlabel('배터리용량')
plt.title('배터리용량 분포')
plt.show()

In [ ]:
print('주행거리 최대값: ',train['주행거리(km)'].max())
print('주행거리 최소값: ',train['주행거리(km)'].min())
plt.figure(figsize=(10, 6))
sns.histplot(data=train, x='주행거리(km)', kde=True, bins=25)

plt.xlabel('주행거리')
plt.title('주행거리 분포')
plt.show()

In [ ]:
fig, axes = plt.subplots(3, 1, figsize=(15, 15))

col = ['주행거리(km)', '보증기간(년)', '연식(년)']

for idx, i in enumerate(col):
    max_val = train[i].max()
    min_val = train[i].min()
    
    sns.histplot(data=train, x=i, kde=True, bins=10, ax=axes[idx])
    axes[idx].set_xlabel(f'{i}')
    axes[idx].set_title(f'{i} 분포')
    
    axes[idx].text(0.5, 0.95, f'최대값: {max_val:.2f}\n최소값: {min_val:.2f}', 
                   transform=axes[idx].transAxes, 
                   horizontalalignment='center',
                   verticalalignment='top',
                   bbox=dict(boxstyle='round', facecolor='white', alpha=0.7))

plt.tight_layout()
plt.show()

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(16, 12))

sns.boxplot(data=train, x="제조사", y="가격(백만원)", ax=axes[0, 0])
axes[0, 0].set_title("제조사별 가격 분포")

sns.boxplot(data=train, x="차량상태", y="가격(백만원)", ax=axes[0, 1])
axes[0, 1].set_title("차량상태별 가격 분포")

sns.boxplot(data=train, x="구동방식", y="가격(백만원)", ax=axes[1, 0])
axes[1, 0].set_title("구동방식별 가격 분포")

sns.boxplot(data=train, x="사고이력", y="가격(백만원)", ax=axes[1, 1])
axes[1, 1].set_title("사고이력별 가격 분포")

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20,10))
sns.boxplot(data=train, x="모델", y="가격(백만원)")
plt.tight_layout()
plt.show()